{
	order grpc_web before reverse_proxy
}

:443 {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Headers *
		Access-Control-Allow-Methods GET,POST,OPTIONS
	}

	grpc_web

	reverse_proxy host.docker.internal:50051 {
		transport http {
			versions h2c
		}
	}
}
